
    /*paginas servicios */
    .row {
        flex-direction: column;
    }

    .heroservicios .col-5,
    .col-7 {
        width: 100% !important;

    }

    .imagenes-servicios {
        padding: 0px;
        width: 50%;
        margin: auto;
        margin-bottom: 40px;
    }

    .imagen-proyecto-destacado {
        width: 100%;
    }

    .contenedor-proyecto.row.flex-row-reverse {
        flex-direction: column !important;
    }

    .carousel-inner {
        height: 200px;
    }

    .titulo-secciones br {
        display: none;
    }

    .contenedor-grid-logos .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .contenedor-grid-logos img {
        width: 100% !important;
    }

    /* PAGINA PORTFOLIO*/
    .grid-proyectos.portfolio {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #nav-tab {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #nav-tab button {
        padding: 10px 20px;
    }

    /* pagina de contacto */
    .div-form {
        margin-top: 40px;
    }

    .sec-spotify {
        margin-top: 40px;
    }

    /* proeycto individual */
    .proyecto-individual .row .col-6 {
        width: 100%;
    }

    .imagen-destacada-proyecto {
        padding: 0px;
        margin-top: 40px;
    }

    .contenedor-imagenes-proyecto .col-8,
    .col-4 {
        width: 100%;
    }

    .imagenes-de-proyecto {
        padding: 0px;
    }


}