/*COLORES*/
$color-primario: #5cfbd8;
$color-secundario: #000CBE;
$color-gris-orcuro: #34363A;
$color-negro: #181818;
$gris-claro: #585858;
$color-blanco:#EDEDED;

/*FUENTES*/
$inconsolata: "Inconsolata", monospace;
$dmsans: "DM Sans", sans-serif;


/*OTROS*/
$border-radius:5px;
$trasition: all 0.3s ease-in-out;