@import "../utilities/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: $color-blanco;

    .body {
        background-color: $color-gris-orcuro;
        font-size: 16px;

        .seccion {
            padding: 2rem 2rem;

            &.dark {
                background-color: #181818;
                
            }
            .titulos-paginas{
                font-size: 4rem;
            }
        }

        .container{
            margin: auto;

            .dark {
                background-color: #181818;
                border-radius: 10px;
            }
        }

        p {
            font-family: $inconsolata;
            font-weight: 400;
            line-height: 140%;
            margin:10px 0px;
            
        }

        h1,
        h2,
        h2,
        h4,
        h5,
        h6,
        div {
            font-family: $dmsans;
            font-weight: 800;
            margin: 0px;
            color: $color-blanco;

        }

        .titulo-secciones {
            font-size: 3rem;
        }

        h2 {
            font-size: 38px;
            line-height: 100%;
            text-wrap: balance;
        }


        figure {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
        }

        img {
            border-radius: 20px;
        }

        .flex {
            display: flex;
        }


        .sub-titulo {
            font-family: $inconsolata;
            color: $color-primario;
            font-size: 1rem;
            font-weight: 800;
            text-transform: uppercase;
        }
        .btn {
            background-color: $color-primario;
            color: #181818;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: $trasition;
        }
        
        .btn:hover {
            background-color: $color-secundario;
            color: #fff;
            transform: translateY(-3px);
        
        }
        
        .link {
            margin-right: 20px;
            border-radius: 5px;
            text-decoration: none;
            color: $color-primario;
            transition: $trasition;
        }
        
        .link:hover {
            text-decoration: line-through;
            color: $color-blanco;
            transform: translateY(-3px);
        }

        .div-form{
            .formulario-home {
                color: #EDEDED;

                .row-form {
                    display: flex;
                    column-gap: 20px;
                    width: 100%;

                    .input-form {
                        background-color: #34363A;
                        padding: 10px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #EDEDED;
                        color: #EDEDED;
                        font-family: "Incosolata", monospace;
                        width: 50%;
                        font-size: 16px;

                        &:focus {
                            color: #EDEDED;
                            border: none;
                            border-bottom: 1px solid #5CFBD8;
                        }

                        
                    }

                    textarea {
                        background-color: #34363A;
                        padding: 10px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #EDEDED;
                        color: #EDEDED;
                        width: 100% !important;

                        &:focus {
                            color: #EDEDED;
                            border: none;
                            border-bottom: 1px solid #5CFBD8;
                        }
                    }
                }

                .btn-enviar {
                    font-family: "DM Sans", sans-serif;
                    font-weight: 900;
                    border: 0;
                    border-bottom: 0px !important;
                }

            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
            }


        }

        .breadcrumb-item {
            color: $color-primario;

            a {
                color: $color-primario;
                font-family: $inconsolata;
                transition: $trasition;

                &:hover {
                    color: $color-blanco;


                }
            }

            &.active {
                color: $color-blanco !important;
            }

        }




    }

}